@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-weight: 400;
  src: url('../assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
  url('../assets/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-weight: 900;
  src: url('../assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
  url('../assets/fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
}